body {
  margin: 0px;
  background-color: #4e1b76;
  position: relative;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.presentation,
.contenu {
  position: fixed;
}

.presentation {
  height: 60vh;
  width: 96vw;
  background-image: url(./assets/back_presentation.jpg);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-size: cover;
  border-radius: 15px;
  top: 1%;
  p {
    font-size: larger;
    padding: 1%;
  }
  h1 {
    font-size: 65pt;
  }
}

.contenu {
  z-index: 1;
  width: 60vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  bottom: 0;
  button {
    border: none;
    border-radius: 7px;
    margin: 2%;
    height: 20vh;
    width: 30vh;
    background-position: center;
    font-weight: bolder;
    font-size: larger;
    color: white;
  }

  .enFamille {
    background-image: url("src/assets/En_famille.jpg");
    background-size: cover;
  }

  .entreAmis {
    background-image: url("src/assets/Entre_amis.jpg");
    background-size: cover;
  }

  .enAmoureux {
    background-image: url("src/assets/En_amoureux.jpg");
    background-size: cover;
  }

  .entreCollegues {
    background-image: url("src/assets/Entre_collegues.jpg");
    background-size: cover;
  }

  .enPublic {
    background-image: url("src/assets/En_prive.jpg");
    background-size: cover;
  }

  .enPrive {
    background-image: url("src/assets/En_public.jpg");
    background-size: cover;
  }
}
